nav.menu {
    margin-bottom: 30px;
    background-color: #2D95C3;
    padding: 15px;
}

nav.menu button {
    width: 200px;
    margin-right: 15px;
}

nav.menu button.mat-flat-button {
    color: #fff;
    background-color: #2C3F50;
}

nav.menu button.mat-flat-button.active {
    color: #2C3F50;
    background-color: #fff;
}
