<h2>Company</h2>
<div class="mat-elevation-z8 basic-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <input type="hidden" id="id" formControlName="id" />
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Enter company name</mat-label>
                <input
                    matInput
                    #input
                    formControlName="name"
                    maxlength="255"
                    placeholder="Ex. Company GmbH"
                    required
                />
                <mat-error *ngIf="input.size">Name is invalid</mat-error>
            </mat-form-field>
        </div>

        <button
            type="submit"
            mat-stroked-button
            matTooltip="Save information"
            color="primary"
        >
            Save
        </button>
        <button
            type="button"
            mat-stroked-button
            matTooltip="Click to Cancel"
            color="basic"
            routerLink="/company"
            routerLinkActive="active"
        >
            Cancel
        </button>
    </form>
</div>
